################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/azurealexaskills/v15/.suo
/.vs/config/applicationhost.config
/HttpTriggerJS1/node_modules
local.settings.json

/host.json
